/src/main/scala/com/betfair/robots/racing/MonitorKeyPriceRunners.scala
/src/main/scala/com/betfair/robots/racing/MonitorLowWOMRunners.scala

*.class
*.log
*.DS_Store
*.cache

output/*

# sbt specific
dist/*
target/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#
src/main/scala/com/betfair/robots/football/*.scala
src/main/scala/com/betfair/robots/football/TeamEnum.java
src/main/scala/com/betfair/robots/racing/MonitorShortPricedRunners.scala

# Scala-IDE specific
*.scala_dependencies

logs
project/project
project/src/main/resources
project/target
/src/main/scala/com/betfair/robots/racing/MonitorCombinedRunners.scala
/src/main/scala/com/betfair/robots/racing/ProcessLogFile.scala
/src/main/scala/com/betfair/robots/racing/RaceDetail.scala
target
tmp
*.history
dist
/*.iml
/out
/src/main/scala/com/betfair/robots/racing/MonitorBook.scala
/src/main/scala/com/betfair/robots/racing/MonitorMissingPrices.scala
/.idea_modules
*.classpath
/src/main/scala/com/betfair/robots/racing/MonitorLogPrices.scala
/src/main/scala/com/betfair/robots/racing/MonitorSteamerRunners.scala

*.project
*.idea
*.settings
*.target

betfair-service-ng.conf

/src/main/scala/com/betfair/robots/football/missing
/src/main/scala/com/betfair/robots/football/missing/FootballMissingRobot.scala
/src/main/scala/com/betfair/robots/football/missing/FootballMissingRobotSupervisor.scala
/src/main/scala/com/betfair/robots/football/missing/ReplaceBet.scala
/src/main/scala/com/betfair/robots/football/missing/MarketMissingMonitor.scala
/src/main/scala/com/betfair/robots/football/missing/MonitorMissingPrices.scala
/src/main/scala/com/betfair/robots/racing/MonitorTrendingRunners.scala
